.edit-preview-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 37.5rem;
  margin-block-start: 1.25rem;
  width: 100%;
}

.edit-preview-text-heading-container {
  display: flex;
  flex-direction: column;
}

.edit-preview-text-heading-container h2 {
  display: flex;
  font-size: var(--font-medium);
  font-weight: var(--weight-normal);
  margin: 0;
}

.edit-preview-text-text-area-container {
  background-color: var(--gray-light-medium);
  border-radius: 4px;
  display: flex;
  flex: 1;
  position: relative;
}

.edit-preview-text-text-area-container textarea {
  background-color: transparent;
  border: 0;
  color: var(--gray-dark);
  flex: 1;
  font-family: var(--sans-serif);
  font-size: var(--font-small);
  line-height: 1.5;
  padding: 0.5rem 2rem 0.5rem 1rem;
  resize: none;
  width: 100%;
}

.edit-preview-text-text-area-container textarea::placeholder {
  color: var(--gray-medium-dark);
}

.edit-preview-text-text-area-container p {
  bottom: 0.5rem;
  color: var(--gray-medium-dark);
  font-size: var(--font-tiny);
  font-style: italic;
  margin: 0;
  position: absolute;
  right: 1rem;
}
