.email-preview-actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  width: 38rem;
}

.email-preview-actions fieldset {
  --border-radius: 10px;
  align-items: stretch;
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  display: flex;
  margin: 0;
  overflow: hidden;
  padding: 0;
  height: 2.2rem;
  width: 9.25rem;
}

.email-preview-actions label {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-size: var(--font-small);
  font-weight: var(--weight-normal);
  justify-content: center;
}

.email-preview-actions label:has(:checked) {
  background-color: var(--gray);
}

.email-preview-actions label:first-of-type {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.email-preview-actions label:last-of-type {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.email-preview-actions label:focus-within {
  outline: 5px auto -webkit-focus-ring-color;
}

button.copy-html-button {
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 3px;
  color: var(--black);
  cursor: pointer;
  font-size: var(--font-small);
  font-weight: var(--weight-normal);
  padding: 0.5rem 0.75rem;
  transition: background-color 50ms ease-in;
}

button.copy-html-button:active {
  background-color: var(--gray);
}

.email-preview {
  box-shadow: 0 0 1rem var(--gray);
  margin: 1.5rem auto 2.5rem;
  overflow: hidden;
  width: 38rem;
  transition: width ease-in-out 100ms;
}

.email-preview-mobile {
  width: 23rem;
}
