td.narrow {
  padding-left: 20px;
  padding-right: 40px;
}

td.wide {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 432px) {
  td.narrow {
    padding-left: 50px;
    padding-right: 100px;
  }

  td.wide {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 432px) {
  .banner-link-container {
    display: inline-block;
  }

  .get-started-button {
    width: 100%;
  }

  .informational-box .narrow {
    padding-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .top-nav-first-link {
    display: block;
  }

  .top-nav-second-link {
    padding-top: 15px;
    display: block;
    width: 100%;
    text-align: left !important;
  }
}
