td.narrow {
  padding-left: 20px;
  padding-right: 40px;
}

td.wide {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 432px) {
  td.narrow {
    padding-left: 50px;
    padding-right: 100px;
  }

  td.wide {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 432px) {
  .banner-link-container {
    display: inline-block;
  }
   
  .get-started-button {
    width: 100%;
  }
}
