.mobile td.narrow {
  padding-left: 20px;
  padding-right: 40px;
}

.mobile td.wide {
  padding-left: 20px;
  padding-right: 20px;
}

.mobile .banner-link-container {
  display: inline-block;
}

.desktop td.narrow {
  padding-left: 50px;
  padding-right: 100px;
}

.desktop td.wide {
  padding-left: 50px;
  padding-right: 50px;
}
