.container {
  display: flex;
  gap: 4px;
  width: 100%;
}

.pane {
  flex: 1;
  padding: 6px;
}

.preview-pane {
  background-color: lightgray;
  border-radius: 5px;
  max-width: calc(50% - 2px);
}

.preview {
  overflow: hidden;
}

.mobile {
  width: 370px;
}

.preview-actions {
  display: flex;
  gap: 4px;
  width: 100%;
}

.back-link {
  align-items: center;
  color: var(--black);
  display: flex;
  gap: 0.75rem;
  text-decoration: none;
}

.back-link-text {
  line-height: 2rem;
}

.email-editor-page-content-container {
  flex: 2;
  overflow-x: hidden;
}

.translation-mode .translations {
  display: flex;
  justify-content: space-around;
  animation: translations-slide-in var(--duration) var(--easing) forwards;
  width: 100vw;
}

@keyframes translations-slide-in {
  from {
    transform: translateX(7.75vw);
    padding-block-start: 0;
  }

  to {
    transform: translateX(0);
    padding-block-start: 3rem;
  }
}

.exit-translation-mode-button {
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  z-index: 100;
}

.email-editor-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}
