.container {
  display: flex;
  gap: 4px;
  width: 100%;
}

.pane {
  flex: 1;
  padding: 6px;
}

.preview-pane {
  background-color: lightgray;
  border-radius: 5px;
  max-width: calc(50% - 2px);
}

.preview {
  overflow: hidden;
}

.mobile {
  width: 370px;
}

.preview-actions {
  display: flex;
  gap: 4px;
  width: 100%;
}

.back-link {
  align-items: center;
  color: var(--black);
  display: flex;
  gap: 0.75rem;
  text-decoration: none;
}

.back-link-text {
  line-height: 2rem;
}

.email-editor-page-content-container {
  flex: 2;
  overflow-x: hidden;
}

.email-editors {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  position: relative;
  width: 100vw;
  padding-block-start: 0;
}

.translation {
  --translation-content-width: 37.5rem;
  --border: 1px solid transparent;
  margin-left: calc((67vw - var(--translation-content-width)) / 2);
}

.translation-mode .translation {
  --border: 1px solid var(--gray-light-medium);

  margin-left: 0;
  width: 50%;
}

.original-translation {
  transition: margin-left var(--easing) var(--duration);
}

.new-translation {
  border-left: var(--border);
}

.translation-actions {
  border-bottom: var(--border);
  padding-block-end: 1rem;
}

.translation-actions-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block-start: 1rem;
  min-height: 55px;
  width: var(--translation-content-width);

  h2 {
    font-size: var(--font-large);
    font-weight: var(--weight-normal);
    margin: 0;
  }
}

.select-preview-type {
  margin: 0;
  padding: 0;

  label {
    font-size: var(--font-small);
    font-style: normal;
    padding: 0.5rem 1rem;
  }
}

.email-editor-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: var(--translation-content-width);
}

.translation-mode .original-translation .email-editor-content,
.translation-mode .original-translation .translation-actions-inner,
.translation-mode .new-translation .email-editor-content,
.translation-mode .new-translation .translation-actions-inner {
  margin-left: calc((50vw - var(--translation-content-width)) / 2);
}

.translation-mode-header {
  align-items: center;
  background-color: var(--gray-light);
  display: flex;
  height: var(--header-height);
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  .select-preview-type .radio-button {
    display: flex;
    justify-content: center;
    width: 5.5rem;
  }

  .exit-translation-mode-button-container {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;

    button {
      background-color: #2c2c2c;
      font-size: var(--font-small);
      height: 39px;
    }
  }
}
