.container {
  display: flex;
  gap: 4px;
  width: 100%;
}

.pane {
  flex: 1;
  padding: 6px;
}

.preview-pane {
  background-color: lightgray;
  border-radius: 5px;
  max-width: calc(50% - 2px);
}

.preview {
  overflow: hidden;
}

.mobile {
  width: 370px;
}

.preview-actions {
  display: flex;
  gap: 4px;
  width: 100%;
}

.back-link {
  align-items: center;
  color: var(--black);
  display: flex;
  gap: 0.75rem;
  text-decoration: none;
}

.back-link-text {
  line-height: 2rem;
}

.email-editor-page-content-container {
  flex: 2;
  overflow-x: hidden;
}

.email-editors {
  --translation-content-width: 37.5rem;
  display: flex;
  justify-content: flex-start;
  gap: 5rem;
  position: relative;
  width: 100vw;
  padding-block-start: 0;

  > :first-child {
    margin-left: 10rem;
    transition: margin-left var(--easing) var(--duration);
  }
}

.translation-mode .email-editors {
  > :first-child {
    margin-left: 5rem;
  }
}

.translation {
  width: var(--translation-content-width);
}

.translation-actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block-start: 1rem;

  h2 {
    font-size: var(--font-large);
    font-weight: var(--weight-normal);
  }
}

.select-preview-type {
  margin: 0;
  padding: 0;

  label {
    font-size: var(--font-small);
    font-style: normal;
    padding: 0.5rem 1rem;
  }
}

.email-editor-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}
