.destroy-dialog-trigger {
  background-color: var(--gray-light);
  border-radius: 8px;
  cursor: pointer;
  height: 34px;
  margin-inline-start: 1.5em;
  padding: 0.25em;
  width: 34px;

  &:hover,
  &:focus {
    background-color: var(--gray-light-medium);
  }

  &:hover path,
  &:focus path {
    stroke: var(--warning-delete);
  }

  &:hover .can,
  &:focus .can {
    fill: var(--warning-delete);
  }
}

.destroy-dialog-delete-button {
  background-color: var(--alert-error-dark);

  &:focus,
  &:hover {
    background-color: var(--alert-error-dark);
  }
}
