.destroy-dialog-trigger {
  cursor: pointer;

  margin-inline-start: 1.5em;
  padding: 0.25em;
  background-color: var(--gray-light);
  border-radius: 8px;

  &:hover,
  &:focus {
    background-color: var(--gray-light-medium);
  }

  &:hover path,
  &:focus path {
    stroke: #cf6161;
  }

  &:hover .can,
  &:focus .can {
    fill: #cf6161;
  }
}

.destroy-dialog-delete-button {
  background-color: var(--alert-error-dark);

  &:focus,
  &:hover {
    background-color: var(--alert-error-dark);
  }
}
