.email-editor-heading-and-select {
  align-items: center;
  border: 1px var(--black) solid;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  position: relative;
}

.email-editor-heading-and-select:focus-within {
  outline: 5px auto -webkit-focus-ring-color;
}

.email-editor-heading-and-select h1 {
  font-size: 1.5rem;
  font-weight: var(--weight-bold);
  line-height: 2rem;
  margin: 0;
}

.email-editor-heading-and-select select {
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}
