.button {
  background-color: var(--blue);
  border-radius: 3px;
  border: 0;
  color: var(--white);
  cursor: pointer;
  display: block;
  font-size: var(--font-small);
  font-weight: var(--weight-bold-light);
  padding: 0.75rem 2.8rem;
  width: fit-content;
  transition: background-color ease-in-out 100ms;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: var(--blue-dark);
  }

  &:disabled {
    background-color: var(--gray-medium-dark);
    cursor: unset;
  }
}

.button-like {
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
}

.black-button {
  align-items: center;
  background-color: var(--black);
  border-width: 0;
  border-radius: 4px;
  color: var(--white);
  display: flex;
  font-size: var(--font-medium);
  font-weight: var(--weight-normal);
  padding: 0.5rem 1.5rem;

  span {
    font-size: var(--font-large);
    margin-inline-start: 0.5rem;
  }
}

.white-button {
  background-color: var(--white);
  color: var(--black);
  border-width: 1px;
  font-weight: var(--weight-normal);
  font-size: var(--font-medium);
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;

  span {
    font-size: var(--font-large);
    margin-inline-start: 0.5rem;
  }
}
