.dialog-overlay {
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.dialog-content-outer {
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  width: 100vw;
  height: 100vh;
}

.dialog-content {
  background-color: var(--white);
  border-radius: 0.5rem;
  max-height: 68vh;
  overflow-y: auto;
  padding: 2rem;
  width: 25vw;
  z-index: 20;
  position: relative;
}

.dialog-title {
  font-size: 1.25rem;
  font-weight: var(--weight-bold);
  margin: 0;
  margin-bottom: 1.5rem;
}

.dialog-close {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
