.dialog-overlay {
  background-color: rgba(241, 241, 241, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.dialog-content {
  background-color: var(--white);
  border-radius: 3px;
  box-shadow: 0 0 0.5rem var(--blue-gray-light);
  left: 25vw;
  max-height: 68vh;
  overflow-y: auto;
  padding: 3rem;
  position: fixed;
  right: 25vw;
  top: 10vh;
  width: 50vw;
  z-index: 20;
}

.dialog-title {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.dialog-description {
  font-size: 1rem;
  margin: 1rem 0;
}

.dialog-close {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
