.form {
  display: flex;
  flex-direction: column;
}

.form .errors {
  background-color: var(--alert-error-light);
  border-radius: 3px;
  width: fit-content;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.form-field label {
  font-weight: var(--weight-bold);
}

.form-field .description {
  font-size: var(--font-small);
  line-height: var(--font-small);
  font-style: italic;
  margin: 0;
  padding-top: 0.25rem;
}

.form-field .label-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.25rem;
}

.form-field .label-container p {
  background-color: var(--alert-error-light);
  border-radius: 3px;
  display: block;
  padding: 0 0.25rem;
  margin: 0;
  font-size: var(--font-small);
  font-style: italic;
}
