.page-wrapper {
  height: 100vh;
  overflow: hidden;
}

.layout {
  --easing: ease-in;
  --duration: 500ms;
  --header-height: 87px;
  align-items: stretch;
  display: flex;
  overflow-y: auto;
  height: 100%;
}

.layout:has(.email-editor-page-content-container) {
  overflow-y: hidden;
}

.page-wrapper:has(.global-header) .layout {
  margin-top: var(--header-height);
  height: calc(100% - var(--header-height) - 1px);
}

.header-wrapper {
  position: fixed;
  height: var(--header-height);
  width: 100%;
  top: 0;
  left: 0;
}

.global-header {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem 0.5rem;
  justify-content: space-between;

  & > div {
    display: flex;
    align-items: center;
  }

  img {
    filter: invert(100%);
  }

  span {
    margin-left: 1.5rem;
  }

  .header-title {
    display: block;
    font-size: 1.35rem;
    font-weight: var(--weight-bold);
    line-height: 2rem;
    padding-bottom: 0.5rem;
  }

  .log-out-button {
    background-color: #2c2c2c;
    border: none;
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
    font-family: var(--sans-serif);
    font-size: 1rem;
    font-weight: var(--weight-normal);
    padding: 0.75rem 1.5rem;
    transition: background-color ease-in-out 100ms;
  }

  .log-out-button:hover,
  .log-out-button:focus {
    background-color: var(--gray-dark-extra);
  }

  .settings-link {
    margin-inline-end: 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #2c2c2c;
    border-radius: 8px;
    padding-inline: 0.75rem;
    color: var(--white);
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: var(--gray-dark-extra);
    }

    svg {
      margin-inline-start: 0.5rem;
      height: 41px;
      width: 41px;
    }
  }
}

[href='#skip-to-content'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

[href='#skip-to-content']:focus {
  padding: 1rem;
  position: fixed;
  top: 10px;
  left: 10px;
  background: white;
  z-index: 1;
  width: auto;
  height: auto;
  clip: auto;
}

.sidebar {
  background-color: var(--gray-light);
  position: relative;
  height: 100%;
  flex: 1;
}

.email-editor-sidebar {
  flex: unset;
  width: 33.33vw;
  transition: width var(--easing) var(--duration);
}

.translation-mode .email-editor-sidebar {
  width: 0;
}

.sidebar-inner {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 1.25rem;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
}

.email-editor-sidebar .sidebar-inner {
  width: 33.33vw;
}

.sidebar .department-seal-container {
  padding-bottom: 1rem;
}

.spaced-sidebar-container {
  padding: 0 2rem;
}

.sidebar nav {
  display: flex;
  flex: 1;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  font-size: 1.35rem;
  font-weight: var(--weight-bold);
  gap: 1.25rem;
  flex: 1;
  line-height: 2rem;
}

.sidebar-spacer {
  flex: 1;
}

.sidebar-list a {
  align-items: center;
  color: var(--black);
  display: flex;
  gap: 0.75rem;
  text-decoration: none;
}

.sidebar-list a.sidebar-active-link {
  text-decoration: underline;
}

.page-content {
  flex: 4;
  height: 100%;
  overflow: auto;
  position: relative;
  transform: translateX(0);
  transition: transform var(--easing) var(--duration);
}

.heading {
  font-size: 3.5rem;
  font-weight: var(--weight-bold-extra);
  line-height: 4rem;
  margin: 0;
  margin-bottom: 0.6rem;
}

.subheading {
  font-size: var(--font-huge);
  line-height: 1.5;
}

.paragraph {
  font-size: var(--font-medium);
  font-weight: var(--weight-normal);
  margin: 0;
  margin-bottom: 1.5rem;
}

.spaced-container {
  padding-top: 6rem;
  padding-left: 5.25rem;
  padding-right: 9.75rem;
}

.input,
.textarea {
  border: 1px solid var(--black);
  font-family: var(--sans-serif);
  font-size: var(--font-medium);
  line-height: 1.5;
  padding: 0.5rem;
}

.uswds-icon-value,
.uswds-icon-option {
  align-items: center;
  display: flex;
}

.uswds-icon-label {
  display: flex;
  padding-left: 0.25rem;
}

.actions {
  align-items: center;
  display: flex;
  gap: 1rem;
}
