.layout {
  align-items: stretch;
  display: flex;
  flex: 1;
  min-height: 100vh;
}

.sidebar {
  background-color: var(--gray);
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 3.25rem 0;
}

.spaced-sidebar-container {
  padding: 0 2rem;
}

.sidebar nav {
  padding-top: 2.5rem;
}

.sidebar-title {
  display: block;
  font-size: 1.35rem;
  font-weight: var(--weight-bold);
  line-height: 2rem;
  padding-bottom: 0.5rem;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  font-size: 1.35rem;
  font-weight: var(--weight-bold);
  gap: 1.25rem;
  line-height: 2rem;
}

.sidebar-list a {
  color: var(--black);
  text-decoration: none;
}

.sidebar-list a.sidebar-active-link {
  text-decoration: underline;
}

.page-content {
  flex: 4;
}

.heading {
  font-size: 3.5rem;
  font-weight: var(--weight-bold-extra);
  line-height: 4rem;
  margin: 0;
  margin-bottom: 0.6rem;
}

.paragraph {
  font-size: 1rem;
  font-weight: var(--weight-normal);
  margin: 0;
  margin-bottom: 1.5rem;
}

.spaced-container {
  padding-top: 11.5rem;
  padding-left: 5.25rem;
  padding-right: 9.75rem;
}
