.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid var(--gray-light);
  padding: 1.5rem 0;
}

.list-item:last-of-type {
  border-bottom: 0;
}
