.SelectContainer {
  --border-radius: 0;
  border: 3px solid transparent;
  margin: -3px;
  width: 100%;

  &:has([aria-expanded='true']) {
    border: 3px solid #00475d;
  }

  &.small {
    --border-radius: 3px;
    font-size: var(--font-small);
    min-width: 16.125rem;
    width: fit-content;
  }
}

.small .SelectTrigger {
  font-size: var(--font-small);
  padding: 0.375rem 0.5rem;
}

.SelectTrigger {
  align-items: center;
  background-color: var(--white);
  border-radius: calc(2 * var(--border-radius));
  border: 1px solid var(--black);
  display: flex;
  font-size: var(--font-medium);
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;

  &[aria-expanded='true'] {
    border: 1px solid transparent;
  }
}

.SelectIcon {
  align-items: center;
  display: flex;
  justify-content: center;
  border-left: 1px solid var(--blue-gray-light);
  font-size: var(--font-medium);
  margin: 0;
  margin-left: 0.5rem;
  padding-left: 0.25rem;
}

.SelectContent {
  background-color: var(--white);
  border: 1px solid var(--black);
  max-height: 25vh;
  min-width: 10rem;
  overflow: auto;

  &.small {
    font-size: var(--font-small);
  }
}

.SelectItem {
  align-items: center;
  border-bottom: 1px solid var(--gray-light);
  color: var(--black);
  display: flex;
  font-size: 1rem;
  height: 25px;
  padding: 0.5rem 1rem;
  position: relative;
  user-select: none;

  &:last-of-type {
    border-bottom: 0;
  }
}

.SelectItem[data-disabled] {
  color: var(--gray-dark);
  pointer-events: none;
}

.SelectItem[data-highlighted] {
  outline: none;
  background-color: var(--blue);
  color: var(--white);
}

.SelectContent.small .SelectItem {
  padding: 0.375rem 0.5rem;
}

.SelectScrollButton {
  align-items: center;
  background-color: white;
  cursor: default;
  display: flex;
  height: 25px;
  justify-content: center;
}
