.settings-header.groups {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'title actions'
    'description .';

  h1 {
    grid-area: title;
    margin: 0;
  }

  p {
    grid-area: description;
  }

  .settings-actions {
    grid-area: actions;
    justify-self: end;
  }

  .add-new-group-link {
    text-decoration: none;
  }
}

.library-list.groups {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.group {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  padding: 1rem;
  padding-left: 1.5rem;
  transition: background-color ease-in 100ms;
}

.group:focus-within,
.group:hover {
  background-color: var(--gray-light);
}

.library-name-container.group-name {
  margin-block-end: 0.25rem;
}

.group .members {
  margin-top: 0.75rem;
  color: #888888;
}
