.settings-header.groups {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'title title title actions'
    'description description description .';

  h1 {
    grid-area: title;
    margin: 0;
  }

  p {
    grid-area: description;
  }

  .settings-actions {
    grid-area: actions;
    justify-self: end;
  }

  .add-new-group-link {
    text-decoration: none;
  }
}

.library-list.groups,
.library-list.members {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.group,
.member {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  padding: 1rem;
  padding-left: 1.5rem;
  transition: background-color ease-in 100ms;
}

.group:focus-within,
.member:focus-within,
.group:hover,
.member:hover {
  background-color: var(--gray-light);
}

.library-name-container.group-name,
.library-name-container.member-email {
  margin-block-end: 0.25rem;
}

.group .members {
  margin-top: 0.75rem;
  color: #888888;
}

.member .role {
  margin-top: 0.25rem;
  color: #888888;
}

.dialog-content:has(.edit-group-form),
.dialog-content:has(.new-group-form) {
  min-width: 35vw;
}

.edit-group-button {
  display: flex;
  gap: 0.5rem;
  padding-right: 0.75rem;
}

.edit-group-form,
.new-group-form {
  .label-container {
    padding-block-end: 0.5rem;
  }

  label {
    font-weight: var(--weight-normal);
  }

  .input {
    border-radius: 0.25rem;
    border-color: var(--gray-light-medium);

    &::placeholder {
      color: var(--gray-medium-dark);
    }
  }

  [name='description'] {
    height: 3.5rem;
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-block-start: 1.8125rem;

    button {
      padding: 10px 1.5rem;
    }
  }
}
