.user-list {
  margin-top: 3rem;
  margin-bottom: 3rem;

  .list-item {
    gap: 0.25rem;
    border: 0;
    padding: 1rem 0;
    margin-block-end: 0.5rem;
  }
}

.user-email {
  align-items: center;
  color: var(--black);
  display: flex;
  font-size: var(--font-large);
  font-weight: bold;
  text-decoration: none;
}

.user-role {
  color: var(--gray-medium-dark);

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  form {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  select {
    align-self: stretch;
    cursor: pointer;
    padding: 0 0.75rem;
  }
}

.cancel-edit {
  background-color: transparent;
  border: 1px solid var(--gray-medium-dark);
  color: var(--gray-dark-extra);

  &:hover,
  &:focus {
    background-color: var(--gray-light);
  }
}
