.heading-with-actions {
  display: flex;
  justify-content: space-between;
}

.delete-group-trigger,
.new-group-link {
  align-items: center;
  border-radius: 50%;
  height: 3rem;
  display: flex;
  justify-content: center;
  width: 3rem;
  transition: background-color 150ms ease-in;

  &:hover,
  &:focus {
    background-color: var(--gray-light-medium);
  }
}

.group-attributes {
  padding-top: 1rem;
}

.group-name {
  align-items: center;
  color: var(--black);
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.group-description {
  color: var(--black);
}

.members-heading {
  font-size: 1.5rem;
  margin: 0;
  padding-top: 1rem;
}

.group-members .user-list {
  margin: 0;

  .user-item {
    flex-direction: row;
  }
}

.group-edit-action-buttons {
  display: flex;
  justify-content: space-between;
}

.destroy-group-form .delete-button {
  background-color: var(--alert-error-dark);
}

.add-member-form {
  width: 30rem;

  label {
    margin-bottom: 1rem;
  }

  .select {
    margin-bottom: 1rem;
  }
}
