.heading-with-actions {
  display: flex;
  justify-content: space-between;
}

.new-group-link {
  align-items: center;
  height: 3rem;
  display: flex;
  justify-content: center;
  width: 3rem;

  &:hover,
  &:focus {
    filter: invert(31%) sepia(4%) saturate(6370%) hue-rotate(153deg) brightness(99%) contrast(86%);
  }
}

.group-attributes {
  padding-top: 3rem;
  border-bottom: 1px solid var(--gray-light);
}

.group-name {
  align-items: center;
  color: var(--black);
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.group-description {
  color: var(--black);
  padding-top: 0.5rem;
}

.members-heading {
  font-size: 1.75rem;
  margin: 0;
  padding-top: 2rem;
}

.group-members ul {
  margin-bottom: 1.5rem;
  margin-top: 1rem;

  .user-item {
    flex-direction: row;
  }
}

.group-edit-action-buttons {
  display: flex;
  justify-content: space-between;
}

.add-member-form {
  max-width: 30rem;

  label {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }

  .select {
    margin-bottom: 0.5rem;
  }

  .error-messages {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1rem;
  }

  .error-messages p {
    background-color: var(--alert-error-light);
    border-radius: 3px;
    font-size: var(--font-small);
    font-style: italic;
    margin: 0;
    padding: 0 0.25rem;
  }
}
