.index-or {
  font-size: 1.5rem;
  font-weight: var(--weight-bold);
  line-height: 2rem;
  padding: 3rem 0;
}

.index-list {
  display: flex;
  justify-content: space-between;
}

.index-list li {
  border: 1px solid var(--black);
  border-radius: 5px;
  height: 13.5rem;
  width: 18rem;
}

.heading-and-actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.heading-and-actions a {
  color: var(--blue);
  font-weight: var(--weight-bold);
  line-height: 1.5rem;
  text-decoration-line: underline;
}
