.index-or {
  font-size: var(--font-huge);
  font-weight: var(--weight-bold);
  line-height: 2rem;
  padding: 3rem 0;
}

.index-list {
  align-items: stretch;
  display: flex;
  gap: 2rem;
}

.index-create-from-scratch-list {
  align-items: stretch;
  display: flex;
  gap: 3rem;
}

.heading-and-actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.heading-and-actions a {
  color: var(--blue);
  font-weight: var(--weight-bold);
  text-decoration-line: underline;
}

.index-list-item {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 18rem;

  h3,
  p {
    padding: 0;
    margin: 0;
  }

  h3,
  h3 a {
    align-self: flex-start;
    color: var(--blue-dark);
    font-size: calc(var(--font-huge) - 0.05rem);
    font-weight: var(--weight-bold);
    padding-bottom: 0.5rem;
    letter-spacing: -1px;
    position: relative;
    text-decoration: none;
  }

  h3::after {
    background-color: var(--blue-dark);
    bottom: 0.5rem;
    content: ' ';
    height: 2px;
    left: 0;
    position: absolute;
    transition: width 150ms ease-in-out;
    width: 0;
  }

  h3:hover::after,
  h3:focus-within::after {
    width: 100%;
  }

  p {
    color: var(--gray-dark);
    font-size: var(--font-small);
    padding-bottom: 1rem;
  }

  .preview {
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 5px;
    display: flex;
    height: 13.5rem;
    justify-content: center;
    position: relative;
    width: 18rem;
    transition: border-color 100ms ease-in-out;
  }

  .preview:focus-within,
  .preview:hover {
    border-color: var(--blue-dark);
  }

  .preview .mask {
    background-color: var(--blue-dark);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: opacity 100ms ease-in-out;
    z-index: 1;
  }

  .preview a {
    align-items: center;
    background-color: var(--white);
    border-radius: 3px;
    border: 2px solid var(--blue-dark);
    color: var(--blue-dark);
    display: flex;
    font-weight: var(--weight-bold);
    justify-content: center;
    opacity: 0;
    padding: 0.5rem 2.75rem;
    transition: opacity 100ms ease-in-out;
    text-decoration: none;
    z-index: 2;
  }

  .preview:focus-within .mask,
  .preview:hover .mask {
    opacity: 0.5;
  }

  .preview:focus-within a,
  .preview:hover a {
    opacity: 1;
  }

  .image-container {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateY(5px);
    width: 100%;
  }
}

.link-button {
  background-color: var(--blue);
  border: 0;
  border-radius: 3px;
  color: var(--white);
  font-size: var(--font-small);
  font-weight: var(--weight-bold-light);
  padding: 0.75rem 2.8rem;
  width: fit-content;
  text-decoration: none;
}

.create-from-scratch-list-item {
  max-width: 15.625rem;
}
