.library-header-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.library-header {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.library-header-description {
  margin-bottom: 1rem;
}

.library-filter-form {
  align-items: stretch;
  display: flex;
  flex: 1;
  padding-block-start: 0.75rem;
  width: 100%;
}

.library-filter-input {
  flex: 1;
  border-right-width: 0;
}

.library-filter-input:focus {
  outline: var(--default-browser-outline);
}

.library-filter-form input[type='search']::-webkit-calendar-picker-indicator {
  display: none !important;
}

.library-filter-form input[type='search']::-webkit-search-cancel-button {
  display: none !important;
}

.library-filter-label {
  color: var(--white);
  background-color: var(--blue);
  font-weight: var(--weight-semibold);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0.5rem 1rem;
}

.library-type-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  list-style-type: none;
  margin: 0;
  max-width: 62vw;
  padding: 0;
}

.library-type-filter {
  background-color: var(--gray-light);
  border-radius: 4px;
  transition:
    color ease-in 75ms,
    background-color ease-in 75ms;

  label {
    cursor: pointer;
    display: block;
    padding: 0.25rem 0.75rem;
  }

  &:has(:checked) {
    background-color: var(--black);
    color: var(--white);
  }
}

.library-list {
  margin-top: 1.5rem;
  margin-bottom: 6rem;
}

.library-name-container {
  align-items: center;
  display: flex;
}

.library-name {
  color: var(--black);
  font-weight: var(--weight-bold);
  text-decoration: none;
  font-size: 1.5rem;
}

.library-description {
  margin: 0;
}

.library-empty-message {
  padding-top: 7.5rem;
}
