.tips-and-tricks a {
  color: var(--blue);
  font-weight: var(--weight-bold);
  text-decoration: none;
}

.tips-and-tricks a:hover,
.tips-and-tricks a:focus {
  text-decoration: underline;
}

.tips-and-tricks h2:target,
.tips-and-tricks h3:target,
.tips-and-tricks h4:target {
  background-color: var(--blue-white);
  border-radius: 3px;
  padding: 0 0.25rem;
  width: fit-content;
}

.tips-and-tricks .icon {
  display: inline-block;
  transform: translateY(6px);
}

.tips-and-tricks h2 .icon {
  display: inline-block;
  transform: translateY(4px);
}

.tips-and-tricks h2 {
  border-top: 1px lightgray solid;
  padding-top: 1rem;
}

.tips-and-tricks .illustration {
  box-shadow: 0 0 0.5rem var(--blue-gray-light);
  border-radius: 3px;
  display: block;
  margin: 0 auto;
}
