.user-list {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.user-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid var(--gray-light);
  padding: 1.5rem 0;
}

.user-item:last-of-type {
  border-bottom: 0;
}

.user-email {
  align-items: center;
  color: var(--black);
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}

.user-role {
  color: var(--gray-dark);
  font-style: italic;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  form {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  select {
    align-self: stretch;
    cursor: pointer;
    padding: 0 0.75rem;
  }
}

.cancel-edit {
  background-color: transparent;
  border: 1px solid var(--gray-medium-dark);
  color: var(--gray-dark-extra);

  &:hover,
  &:focus {
    background-color: var(--gray-light);
  }
}

.user-item .delete-trigger {
  cursor: pointer;
  margin-left: 0.75rem;
  padding-top: 0.35rem;
}

.user-item .delete-trigger:focus img,
.user-item .delete-trigger:hover img {
  filter: invert(13%) sepia(80%) saturate(4782%) hue-rotate(354deg) brightness(80%) contrast(105%);
}

.destroy-user-form .delete-button {
  background-color: var(--alert-error-dark);
}
