.login-details-container,
.appeal-rights-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1.25rem;
}

.login-details-container > label,
.appeal-rights-container > label {
  font-size: 0.875rem;
  font-weight: var(--weight-normal);
}
