.control-group {
  margin-top: 0.5rem;
}

.control-container {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.control-group > .control-container:first-of-type {
  margin-top: 0;
}

label.control-label {
  display: block;
  font-size: var(--font-small);
  font-weight: var(--weight-normal);
}

.directive-title-toggle {
  padding-top: 5px;
}

.status-supportive-information-toggle {
  padding-top: 0.75rem;
}
