.control-group {
  padding-right: 3.125rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.status-control-group {
  padding-top: 1rem;
}

.control-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
}

.control-container.column {
  flex-direction: column;
  justify-content: flex-start;
}

.control-group > .control-container:first-of-type {
  margin-top: 0;
}

label.control-label {
  display: block;
  font-size: var(--font-small);
  font-weight: var(--weight-normal);
}

label.control-label.small {
  font-size: var(--font-tiny);
  font-style: italic;
}

.status-supportive-information-toggle {
  padding-top: 0.75rem;
}

.program-name-inline-color-picker {
  align-items: center;
  display: flex;
  font-size: var(--font-small);
  font-weight: var(--weight-normal);
  gap: 0.5rem;
}

.program-name-inline-color-picker label {
  min-width: 7rem;
}

.program-name-inline-color-picker .color-input-and-picker {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  height: 2rem;
  width: fit-content;
}

.program-name-inline-color-picker input[type='text'] {
  background-color: var(--white);
  border: 1px solid var(--gray-medium-dark);
  border-radius: 3px;
  height: 100%;
  width: 5.375rem;
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
}

.color-picker-inline {
  height: 100%;
}

.color-picker-inline input[type='color'] {
  background-color: var(--white);
  border-radius: 3px;
  height: 2rem;
  width: 4.25rem;
  border: 1px solid var(--gray-medium-dark);
  box-shadow: 0px 0px 2px 0px rgb(0, 0, 0, 0.25);
}

.color-picker-inline input[type='color']::-webkit-color-swatch-wrapper {
  padding: 2px;
}

.color-picker-inline input[type='color']::-webkit-color-swatch {
  border: 0;
}

.radio-buttons-fieldset {
  align-items: center;
  border: 0;
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
  padding: 0;
  padding-left: 2.5rem;
  padding-right: 2.25rem;
}

.radio-buttons-fieldset > .legend {
  font-size: var(--font-small);
  font-weight: bold;
  font-style: italic;
}

.radio-buttons {
  --border-radius: 10px;
  border: 1px solid var(--gray-medium);
  border-radius: var(--border-radius);
  display: flex;
  overflow: hidden;
}

.radio-button {
  background-color: var(--white);
  border-left: 1px solid var(--gray-medium);
  font-size: var(--font-tiny);
  font-weight: var(--weight-normal);
  font-style: italic;
  position: relative;
  transition: background-color 150ms ease-in-out;
}

.radio-button input[type='radio'] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.radio-button:has(:checked) {
  background-color: var(--gray-medium);
}

.radio-button:first-of-type {
  border-left: 0;
}

.radio-buttons > .radio-button > label {
  font-weight: var(--weight-normal);
  display: flex;
  padding: 0.2rem 1.15rem;
}

.radio-buttons > .radio-button:first-of-type > label {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.radio-buttons > .radio-button:last-of-type > label {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.radio-buttons > .radio-button > label:focus-within {
  outline: var(--default-browser-outline);
}

.select.select-variant {
  min-width: 18.5rem;
}
